* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: solid black;
    display: inline-block;
    width: 50vw;
    height: 100vh;
    position: relative;
}

.board {
    border: solid black;
    border-spacing: 0;
    width: 45vw;
    height: 45vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
